* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

/* utils */

.color-white {
    color: white;
}

.bg-white {
    background-color: white;
}

.bg-upgrade {
    background-color: #080b12;
}

/* borders */

/* main section */

/* main container */

.main-container {
    display: flex;
}

/* left nav section */

section.left-nav {
    min-width: 300px;
    height: 90vh;
    background: black;
}

/* padding left section */

.padding-nav {
    padding: 10px 20px;
}

/* logo */

.logo-div {
    height: 10vh;
}
 
.logo-img {
    width: 200px;
    padding: 20px 20px;
}

/* nav section */

.svg-mini {
    width: 30px;
    display: inline-block;
    line-height: 15px;
}

b.color-white {
    display: inline-block;
}


/* right container */

section.right-container {
    min-width: calc(100% - 300px);
    height: 90vh;
    background: #141922;
}

/* upgrade plan */

div.upgrade {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-upgrade {
    border: 1px solid white;
    border-radius: 20px;
    font-weight: bold;
    padding: 10px 30px;
    margin-right: 10px;
}

/* player */

section.player {
    width: 100%;
    height: 10vh;
    background: #282828;
}