* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* utils */

.color-white {
    color: white;
}

.bg-white {
    background-color: white;
}

.color-gray {
    color: #757575;
}

.bg-upgrade {
    background-color: #080b12;
}

/* padding */

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

/* borders */

/* main section */

/* main container */

.main-container {
    display: flex;
}

/* left nav section */

section.left-nav {
    min-width: 300px;
    min-height: 90vh;
    background: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

div.container-left {
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
}

/* padding left section */

.padding-nav {
    padding: 10px 20px;
}

.margin-nav {
    margin: 10px 20px;
}

/* logo */

.logo-div {
    height: 10vh;
}
 
.logo-img {
    width: 200px;
    padding: 20px 20px;
}

/* nav section */

.svg-mini {
    width: 30px;
    display: inline-block;
    line-height: 15px;
}

b.color-white {
    display: inline-block;
}

a.main-nav {
    display: flex;
    align-items: center;
    gap: 0px 10px;
}

a.main-nav:hover {
    border-left: 3px solid #b3ff30;
}

a.main-nav:hover > *, .playlist-nav-item:hover a{
    color: white;
}

/* plus button */

.plus-button {
    font-size: 50px;
}

a.plus-div, a.install-button {
    display: flex;
    align-items: center;
}

a.plus-div:hover > * {
    color: white;
}

/* playlist list */

/* .playlist-nav {
    
} */

.playlist-list {
    overflow-y: auto;
}

/* install and account */

a.install-button {
    justify-self: flex-end;
    border-bottom: 1px solid gray;
}


a.install-button > img {
    width: 10px;
    height: 10px;
}

/* right container */

section.right-container {
    min-width: calc(100% - 300px);
    height: 90vh;
    background: #141922;
}

/* upgrade plan */

div.upgrade {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-upgrade {
    border: 1px solid white;
    border-radius: 20px;
    font-weight: bold;
    padding: 10px 30px;
    margin-right: 10px;
}

.button-upgrade:hover {
    padding: 20px 60px;
    border-radius: 30px;
}

/* player */

section.player {
    width: 100%;
    height: 10vh;
    background: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}